params {

	help         	    = false
	monochrome_logs     = false
	outdir 			    = './results'
	cpus                = 10
	version             = '1.1.0'
	publish_dir_mode    = 'copy'

	name = false
	multiqc_config = false
	email = false
	email_on_fail = false
	max_multiqc_email_size = 25.MB
	plaintext_email = false
	enable_conda = false
	single_end = false

}

docker.enabled = true


process {

    withLabel:multiqc {
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'
    }
    withLabel:spades {
        container = 'quay.io/biocontainers/spades:3.15.0--h633aebb_0'
    }
    withLabel:unicycler {
        container = 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
    }
    withLabel:fastqc {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withLabel:fastp {
        container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0'
    }
    withLabel:samtools {
    	container = 'quay.io/cumulus/samtools:1.11'
    }
    withLabel:quast {
    	container = 'quay.io/biocontainers/quast:5.0.2--py37pl526hb5aa323_2'
    }
    withLabel:prokka {
    	container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    }   
}
